<nav>
  <div class="nav-wrapper light-blue darken-2">
    <a routerLink='' class="brand-logo">Team Manager</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a routerLink='about'>About</a></li>
      <li><a routerLink='roster'>Roster</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

<footer class="page-footer light-blue darken-2">
  <div class="container">
    <ul>
      <li><a class="grey-text text-lighten-3" routerLink='admin'>Admin</a></li>
    </ul>
  </div>
</footer>
