<div class="loggin .center-align">
  <div> {{ (af.auth.providerData | async)?.email }} </div>
  <button (click)="login()" class="btn deep-orange">Login</button>
  <button (click)="logout()" class="btn deep-orange">Logout</button>
</div>

<div *ngIf="currentUser === 'loggedIn'" class="panel panel-default new-form">
  <div class="panel-heading">
    <h3 class="panel-title">Add New Album to Inventory</h3>
  </div>
  <div class="panel-body">
    <div>
      <div>
        <label>Name:</label>
        <br>
        <input #newName>
      </div>

      <div>
        <label>Number:</label>
        <br>
        <input #newNumber>
      </div>

      <div>
        <label>Age:</label>
        <br>
        <input type='number' #newAge>
      </div>

      <div>
        <label>Height:</label>
        <br>
        <input #newHeight>
      </div>

      <div>
        <label>Position:</label>
        <br>
        <input #newPosition>
      </div>

      <div>
        <label>Games Played:</label>
        <br>
        <input type='number' #newGp>
      </div>
      <div>
        <label>Minutes per Game:</label>
        <br>
        <input type='number' #newMpg>
      </div>

      <div>
        <label>Points per Game:</label>
        <br>
        <input type='number' #newPoints>
      </div>

      <button (click)="submitForm(newName.value, newNumber.value, newAge.value, newHeight.value, newPosition.value, newGp.value, newMpg.value, newPoints.value); newName.value=''; newNumber.value=''; newAge.value=''; newHeight.value=''; newPosition.value=''; newGp.value=''; newMpg.value=''; newPoints.value='';" class="btn deep-orange">Add New Player</button>

    </div>
  </div>
</div>

<div *ngIf="currentUser === 'loggedIn'">
  <app-roster></app-roster>
</div>
