<h3>Edit Player</h3>

<label>Name</label>
<input [(ngModel)]="selectedPlayer.name">

<label>Number</label>
<input [(ngModel)]="selectedPlayer.number">

<label>Age</label>
<input [(ngModel)]="selectedPlayer.age">

<label>Height</label>
<input [(ngModel)]="selectedPlayer.height">

<label>Position</label>
<input [(ngModel)]="selectedPlayer.position">

<label>Games Played</label>
<input [(ngModel)]="selectedPlayer.gp">

<label>Minutes per Game</label>
<input [(ngModel)]="selectedPlayer.mpg">

<label>Points</label>
<input [(ngModel)]="selectedPlayer.points">

<button (click)="beginEditPlayer(selectedPlayer)" class="btn deep-orange">Edit</button>
<button (click)="beginStats(selectedPlayer)" class="btn deep-orange">Add Game</button>
<button (click)="beginDeletePlayer(selectedPlayer)" class="btn deep-orange">Delete</button>
